.cart-wrap {
    flex-wrap: wrap; 
    .cart-image {
        height: 100px;
        min-width:150px;
        background-color: $cart-image-bg;
        background-size: cover;
    }
    .cart-text {
        margin-left: 20px;
        font-size: 18px;
    }
    .cart-btn {
        height: 40px;
        display: flex;
        align-self: center;
        margin-left: 35px;
        i {
            align-self: center;
        }
        @include media-breakpoint-down(xs) {
            margin-top: 30px;
            margin-left: 55px;
        }           
    }
    .cart-total {
        font-size: 20px;
        margin-left: auto;
        @include media-breakpoint-down(xs) {
            margin-top: 30px;
        }       
    }
    .cart-trash {
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

