.index-item-wrap {  
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      justify-content: center;    
      width: 180px;
      height: 180px;
      text-align: center;
      position: relative;
      padding:  20px;
      margin: 0 auto;
      span {
         font-size: 20px;
         letter-spacing: 10px;
         color: #fff;
         font-weight: bolder;      
         transition: all .5s;
         margin-top: 20px;    
      }
      .index-item-bg {
         z-index: -3;
         position: absolute;
         top: -10px;
         left: -10px;
         right: -10px;
         bottom: -10px;
         background-color: $index-item-bg;
         overflow: hidden;
      }
      .item-bg-cover {
         background-size: contain;
         background-position: center ;
         background-repeat: no-repeat;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: -2;
         filter: grayscale(1);
         transition: filter .5s;
      }
      &:hover {    
         text-decoration: none;
         .item-bg-cover {
            filter: grayscale(0);
         }
      }
   @include media-breakpoint-down(sm) {
      width: 250px;
      height: 250px;
      margin: 20px auto 50px auto;
   }
}
.index-section {
      margin-top: 100px;
      .index-section-text {
         max-height: 400px;
         padding: 40px;
         h2 {
            margin-top: -40px;
         }
         p {
            line-height: 3;
            overflow: hidden;
         }
      }
      .index-section-vertical-right {
         writing-mode: vertical-rl;
      }
      .index-section-vertical-left {
         writing-mode: vertical-lr;
      }
   @include media-breakpoint-down(sm) {
      margin:0;
      .index-section-text {
         max-height: 100%;
         order: 2;
         h2 {
            margin-top: 0px;
            text-align: center;
         }
         p {
            margin-top: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
         }
      }     
      .index-section-vertical-right, .index-section-vertical-left {
         writing-mode:horizontal-tb;
      }
   }
}
.index-item-title {
   width: 100%;
   text-align: center;
   margin: 150px 0;
   @include media-breakpoint-down(sm) {
      margin: 80px 0;
   }
}