.login-form {
    border: 3px solid $login-form-border;
    margin-top: 3rem;
    padding: 20px;
    min-height: 100%;
    box-shadow: 4px 4px $black;
    .login-body {
        padding: 20px;
    }
    .login-absoulute {
        color: $white;
        font-size: 18px;
        padding: 10px;
    }
}