.login-form {
    border: 3px solid rgba(92, 124, 110, 0.35);
    margin-top: 3rem;
    padding: 20px;
    min-height: 100%;
    box-shadow: 4px 4px#000;
    .login-body {
        padding: 20px;
    }
    .login-absoulute {
        color: white;
        font-size: 18px;
        padding: 10px;
    }
}